.question-container {
  padding: 40px;
  background-color: #4caf50; /* A soft green background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  text-align: center;
  color: white; /* White text for better contrast on darker backgrounds */
}

.quote-text {
  font-size: 1.5em; /* Larger text for emphasis */
  margin-bottom: 15px; /* Space between the quote and the author */
}

.author-name {
  font-size: 1.2em;
  font-style: italic; /* Italicize the author's name */
}
