/* QuestionItem.css */
.question-item {
  border: 1px solid #ccc; /* Light grey border */
  padding: 10px 15px; /* Padding around the text */
  margin-bottom: 10px; /* Space between items */
  border-radius: 5px; /* Rounded corners */
  background-color: #3d7be7; /* Soft blue background */
  cursor: pointer; /* Indicates the item is clickable */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.question-item:hover {
  background-color: #1955b0; /* Slightly darker blue on hover */
}

.question-item h4 {
  margin-top: 0; /* Remove top margin from headline */
  color: #333; /* Dark grey text color */
  font-size: 1.2rem; /* Slightly larger font size */
}

.question-item p {
  margin-bottom: 0; /* Remove bottom margin from paragraph */
  color: #666; /* Medium grey text color */
  font-size: 0.9rem; /* Smaller font size for the author */
}
