/* Navbar CSS */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%; /* Ensures it takes the full width */
  position: fixed; /* Fixes navbar to the top */
  top: 0; /* Position at the very top of the page */
  left: 0; /* Align to the left */
  z-index: 1000; /* Keeps the navbar on top of other content */
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}
