.answer-container {
  padding: 10px;
  text-align: center;
}

.answer-binary,
.answer-multiple {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.answer-binary {
  flex-direction: row; /* Buttons next to each other */
}

.answer-multiple {
  flex-direction: column; /* Buttons stacked vertically */
}

.btn {
  padding: 10px 20px;
  margin: 5px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100px; /* You can adjust the width if necessary */
  transition: background-color 0.3s;
}

.yes-btn {
  background-color: #4caf50; /* Green */
}

.yes-btn:hover {
  background-color: #3e8e41; /* Darker green on hover */
}

.no-btn {
  background-color: #f44336; /* Red */
}

.no-btn:hover {
  background-color: #f44336; /* Keeps red color on hover */
}

.option-btn {
  background-color: #2196f3; /* Blue */
}

.option-btn:hover {
  background-color: #1976d2; /* Darker blue on hover */
}
